REFERAL CODE:- SIRSS2263

NAME:- ABDULLAH RAHMAN

PATTERN 1

In [4]:
for i in range(5,0,-1):
    for j in range (1,i+1):
         print('5', end = ' ')
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

PATTERN 2

In [5]:
for i in range(5,0,-1):
    for j in range (0,i+1):
        print(j, end = ' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

PATTERN 3

In [8]:
x=1
for i in range(1,6):
    for j in range (1,i+1,):
        print(x, end = ' ')
    x+=2
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

PATTERN 4

In [41]:
for i in range(0,5):
    for j in range (i+1,0,-1):
        print(j, end = ' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

PATTERN 5

In [55]:
x=1
c=1
for i in range(0,4):
  x=c+i
  for j in range (0,i+1):
    print(x, end = ' ')
    x-=1
    c+=1
  print()

1
3 2
6 5 4
10 9 8 7

PATTERN 6

In [60]:
from math import factorial
n = 7
for i in range(n):
	for j in range(i+1):
		print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
	print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

PATTERN 7

In [62]:
rows = 5
for i in range(1, rows + 1):  
    for j in range(1, rows + 1):  
        if j <= i:  
            print(i, end=' ')  
        else:  
            print(j, end=' ')  
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

PATTERN 8

In [63]:
for i in range (1,9):
  for j in range(1, i+1):
    x=i*j
    print(x, end = ' ')
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

PATTERN 9

In [64]:
rows = 6 
k = 2 * rows - 2    
for i in range(rows, -1, -1):    
    for j in range(k, 0, -1):  
        print(end=' ')  
    k = k + 1  
    for j in range(0, i + 1):  
        print('*', end = ' ')  
    print()

          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *

PATTERN 10

In [66]:
n = 8 
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1
    for j in range(0, i + 1):   
        print("* ", end=' ')  
    print(" ")

              *
             *  *
            *  *  *
           *  *  *  *
          *  *  *  *  *
         *  *  *  *  *  *
        *  *  *  *  *  *  *
       *  *  *  *  *  *  *  *

PATTERN 11

In [68]:
for i in range(1,7):
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

print()

for i in range(6,0,-1):
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

PATTERN 12

In [69]:
for i in range(1,6):
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

for i in range(4,0,-1):
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

PATTERN 13

In [71]:
rows = 5
k = 2 * (rows - 1)
for i in range(1,6):
  for j in range(k,0,-1):
    print(end = ' ')
  k=k-2
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

rows = 4
k = (rows-2)
for i in range(4,0,-1):
  for j in range(0,k):
    print(end = ' ')
  k=k+2
  for j in range(1,i+1):
    print('* ', end = '')
  print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

PATTERN 14

In [73]:
row = 5
# Upper
for i in range(row, 0, -1):
    for j in range(row-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

# Lower
for i in range(2, row+1):
    for j in range(row-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

PATTERN 15

In [74]:
n = 7
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print('*',end="")  
    m = m - 1
    for j in range(1, i + 1):   
        print("_ ", end='')  
    print(" ")

************
***********_
**********_ _
*********_ _ _
********_ _ _ _
*******_ _ _ _ _
******_ _ _ _ _ _